:root {
    --ciano-padrao: #00FFFF;
    --ciano-escuro: #008080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > h1{
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}

.initial{
    background-color: violet;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 100vw;
}

.interface1{
    display: block;
    position: absolute;
    z-index: 2;
}

#playButton{
    margin-top: 150px;
}

.interface2{
    position: relative;
    z-index: 1;
}

.FightArea {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 20px;
}

#Character, #Monster {
    flex: 1;
}

.LifeBar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.LifeBar > .Bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.Log{
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}

footer{
    position: fixed;
    bottom:0;
    left:0;
    width: 100vw;
    text-align: center;
}
.hidden{
    display: none;
  }

