:root {
    --ciano-padrao: #00FFFF;
    --ciano-escuro: #008080;
}
.initial{
    position:absolute;
    z-index: 2;
}
.interface1{
position: absolute;
z-index: 2;
}
.interface2{
position: relative;
z-index: 1;
}
.FightArea {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 20px;
}

#Character, #Monster {
    flex: 1;
}

.LifeBar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.LifeBar > .Bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}
.Log{
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}
